html , *:not(#custom-cursor){
  font-family: courier, sans-serif;
  color: pink;
  background-color: #000000;
  cursor: none !important;
}
#custom-cursor {
  position: fixed;
  pointer-events: none;
  width: 92px;
  height: 92px;
  z-index: 9999;
  animation: rotateCursor 5s linear infinite;
}
@keyframes rotateCursor {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

